<div>
	<% if (!user) { %>
		<h2>Welcome! Please log in.</h2>
		<p><a href="/auth/google"><img src="img/googLoginBtn.png"></a> </p>
	<% } else { %>
		<h2>Hello, <%= user.username %>, you are already login.</h2>
		<p> 
		<a href="/">App</a> | 
		<a href="/api/view">API routes</a> | 
		<a href="/logout">Log Out</a>
		</p>
	<% } %>
</div>