<div>
<h2>Possible Views:</h2> <br>
	<ul>
			<li><a href="/app/">/app/</a> Where the Main app live</li>
			<li><a href="/api/view/pfgolden">/view/pfgolden</a> (Give the Total Passign and Failling image inside the Golden Sample DB.)</li>
    	<li><a href="/api/view/passfailresult">/view/passfailresult</a> (Count the Total Pass + Fail Positive + Fail Negative for all user.)</li>
	    <% if (!user) { %>
    		<li><a href="/api/view/passfailresult/:username">/view/passfailresult/(:username)</a>(Count the Total Pass + Fail Positive + Fail Negative for this user.)</li>
			<% } else { %>
			<li><a href="/api/view/passfailresult/<%= user.username %>">/view/passfailresult/<%= user.username %></a>(Count the Total Pass + Fail Positive + Fail Negative for this user.)</li>
			<% } %>
		<li><a href="/api/view/totimgfailratio">/view/totimgfailratio</a> (Count the Pass/fail Ratio for all user.)</li>
		<li><a href="/api/view/totimgfailratio/username">/view/totimgfailratio/(:username)</a> (Count the Pass/fail Ratio for this username.)</li>
		<li><a href="/api/view/resultwithcrit">/view/resultwithcrit/(:username)</a> (All the result with their criteria.)</li>
		<li><a href="/api/view/resultwithcrit/username">/view/resultwithcrit/(:username)</a> (All the result with their criteria for this username.)</li>
  </ul>
</div>
